apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: vault-operator

labels:
  - includeSelectors: true
    pairs:
      app: vault-operator

resources:
  - bank-vault-operator.yaml

patches:
  - patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: vault-operator
      spec:
        template:
          spec:
            affinity: {}
            containers:
            - name: vault-operator
              resources:
                limits:
                  cpu: 512m
                  memory: 1Gi
                requests:
                  cpu: 256m
                  memory: 512Mi
