apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base

patches:
  - target:
      kind: ArgoCD
      name: openshift-gitops
    patch: |
      - op: add
        path: /spec/server/host
        value: gitops.apps.hypershift1.nerc.mghpcc.org

  - patch: |
      apiVersion: argoproj.io/v1beta1
      kind: ArgoCD
      metadata:
        name: openshift-gitops
        namespace: openshift-gitops
      spec:
        controller:
          resources:
            limits:
              cpu: "4"
              memory: 8Gi
            requests:
              cpu: 1
              memory: 2Gi
